# Activity 3 - Ishita Dutta

In [19]:
import numpy as np
import pandas as pd
import math

In [30]:
d = {"temp": [80, 75, 77, 70, 72, 69, 65, 74, 73, 78], 
     "Yes":[1, 0, 2, 2, 1, 1, 1, 0, 1, 1], 
     "No":[0, 1, 2, 0, 0, 0, 0, 1, 0, 0]}
temp_freq = pd.DataFrame(d)
temp_freq['total'] = temp_freq['Yes'] + temp_freq['No']
temp_freq = temp_freq.sort_values(by='temp')
temp_freq

   temp  Yes  No  total
6    65    1   0      1
5    69    1   0      1
3    70    2   0      2
4    72    1   0      1
8    73    1   0      1
7    74    0   1      1
1    75    0   1      1
2    77    2   2      4
9    78    1   0      1
0    80    1   0      1

In [40]:
d2 = {"temp" : ["<= 70", "(70, 75]", "> 75"],
     "Yes" : [4, 2, 4],
     "No" : [0, 2, 2]}
new_temp = pd.DataFrame(d2)
new_temp['total'] = new_temp['Yes'] + new_temp['No']
new_temp

       temp  Yes  No  total
0     <= 70    4   0      4
1  (70, 75]    2   2      4
2      > 75    4   2      6

In [49]:
new_temp['entropy'] = 0 
played_temp = 0
ln = new_temp['total'].sum()
for i in range(len(new_temp['Yes'])):
    p_yes = new_temp['Yes'][i] / new_temp['total'][i]
    p_no = new_temp['No'][i] / new_temp['total'][i]
    if p_yes == 0:
        new_temp['entropy'][i] = - ((p_no * math.log(p_no, 2)))
    elif p_no == 0:
        new_temp['entropy'][i] = - ((p_yes * math.log(p_yes, 2)))
    else:    
        new_temp['entropy'][i] = - ((p_yes * math.log(p_yes, 2)) + (p_no * math.log(p_no, 2)))
    played_temp= played_temp + ((new_temp['total'][i] / ln) * new_temp['entropy'][i]) 
played = - ((10/14 * math.log(10/14, 2)) + (4/14 * math.log(4/14, 2)))
new_temp

/var/folders/3x/fbbj8n6j3kgfkt85pns_fwyh0000gn/T/ipykernel_59223/2461320002.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_temp['entropy'][i] = - ((p_yes * math.log(p_yes, 2)))
/var/folders/3x/fbbj8n6j3kgfkt85pns_fwyh0000gn/T/ipykernel_59223/2461320002.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_temp['entropy'][i] = - ((p_yes * math.log(p_yes, 2)) + (p_no * math.log(p_no, 2)))

       temp  Yes  No  total   entropy
0     <= 70    4   0      4  0.000000
1  (70, 75]    2   2      4  1.000000
2      > 75    4   2      6  0.918296

In [46]:
played_temp

0.6792696431662097

In [50]:
played

0.863120568566631

In [52]:
print("Temperature IG: ", played - played_temp, "bits")

Temperature IG:  0.18385092540042125 bits

In [ ]:
d_3 = {"Wind": ["yes", "no"], 
     "Yes":[10], 
     "No":[4]}
wind_freq = pd.DataFrame(d_3)
wind_freq['total'] = wind_freq['Yes'] + wind_freq['No']
wind_freq['entropy'] = 0 
played_wind = 0
ln = wind_freq['total'].sum()
for i in range(len(wind_freq['Yes'])):
    p_yes = wind_freq['Yes'][i] / wind_freq['total'][i]
    p_no = wind_freq['No'][i] / wind_freq['total'][i]
    if p_yes == 0:
        wind_freq['entropy'][i] = - ((p_no * math.log(p_no, 2)))
    elif p_no == 0:
        wind_freq['entropy'][i] = - ((p_yes * math.log(p_yes, 2)))
    else:    
        wind_freq['entropy'][i] = - ((p_yes * math.log(p_yes, 2)) + (p_no * math.log(p_no, 2)))
    played_wind= played_wind + ((wind_freq['total'][i] / ln) * wind_freq['entropy'][i]) 
played_w = - ((10/14 * math.log(10/14, 2)) + (4/14 * math.log(4/14, 2)))
wind_freq

In [ ]:
print("Wind IG: ", played_w - played_wind, "bits")